<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Icon Bar</title>

    <link rel="stylesheet" href="./styles/base/reset.css" />
    <link rel="stylesheet" href="./styles/base/variables.css" />
    <link rel="stylesheet" href="./styles/header.css" />
    <link rel="stylesheet" href="./styles/sidebar.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  </head>

  <body>
    <header class="header">
      <nav class="navigation">
        <ul class="item-list">
          <li>
            <a class="item-list__icon item-list__icon--active" href="#">
              <span class="material-icons">home</span>
            </a>
          </li>

          <li>
            <a class="item-list__icon" href="#">
              <span class="material-icons">store</span>
            </a>
          </li>

          <li>
            <a class="item-list__icon" href="#">
              <span class="material-icons">shopping_cart</span>
            </a>
          </li>

          <li>
            <a class="item-list__icon" href="#">
              <span class="material-icons">person</span>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <sidebar class="sidebar">
      <nav class="navigation-sidebar">
        <ul class="item-list">
          <li class="item-list__item">
            <a class="item-list__icon item-list__icon--active" href="#">
              <span class="material-icons md-36">home</span>
            </a>
          </li>

          <li class="item-list__item">
            <a class="item-list__icon" href="#">
              <span class="material-icons md-36">store</span>
            </a>
          </li>

          <li class="item-list__item">
            <a class="item-list__icon" href="#">
              <span class="material-icons md-36">shopping_cart</span>
            </a>
          </li>

          <li class="item-list__item">
            <a class="item-list__icon" href="#">
              <span class="material-icons md-36">person</span>
            </a>
          </li>
        </ul>
      </nav>
    </sidebar>
  </body>
</html>